@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

* {
    margin: 0;  
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    height: 75px;
    justify-content: flex-start;
}

.header-logo {
    display: flex;
    margin-left: 16px;
    font-size: 24px;
    color: #f9faf8;
    margin-left: 64px;
}
.nav-links {
    display: flex;
    margin-left: auto;
    margin-right: 64px;
}

a {
    text-decoration: none;
    padding: 0px 16px;
    font-size: 18px;
    color: #e5e7eb; 
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    padding: 32px;
}

.container {
    margin: 64px;
    display: flex;
    width: 464px;
    flex-wrap: wrap;
}
.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    width: 330px;
    margin: 8px;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px;
}

.button {
    background-color: #3882f6;
    border-radius: 12px;
    padding: 8px 32px;
    border: 0px;
    color: #f9faf8;
    margin: 8px;
    flex-shrink: 0;

}
.dog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 64px;

}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 32px;
    flex-wrap: wrap;
    margin-bottom: 64px;
}

.img-subtext {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtext {
    width: 230px;
    color: #848c9b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.phrase-section {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 0px 64px;
}

.phrase {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 775px;
    font-weight: 300;
    
}

.author {
    float: right;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
}

.sign-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px;
}

.blue-background {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 12px;
    width: 850px;
    padding: 32px 128px;
    display: flex;
    align-items: center;
    flex-direction: flex;
}

.blue-background .button {
    border: solid 2px #f9faf8;
    border-radius: 12px;
    color: #f9faf8;
    margin-left: auto;
    flex-wrap: nowrap;
}
.text {
    margin-right: 32px;
}
.call {
    font-weight: 700;
    font-size: 24px;
}

.sign-up {
    font-weight: 300;
}

.footer {
    background-color: #1f2937;
    height: 70px;
    color: #e5e7eb;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
